/* 
    Document   : test
    Created on : Nov 26, 2012, 3:14:32 AM
    Author     : davidecker
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.background{
    -fx-background-image: url("ios-linen.jpg");
}

.mini-map{
    -fx-background-color: #9dd4ff;
}


