/* 
    Document   : test
    Created on : Nov 26, 2012, 3:14:32 AM
    Author     : davidecker
    Description:
        Stylesheet for skinning JavaFX GUI elements.
*/

root { 
    display: block;
}

.background{
    -fx-background-image: url("linenBG.png");
    -fx-background-position: 0 -100;
}

.mini-map-pane{
    -fx-background-color: black;
}
.button{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*.titled-pane .title{
    -fx-padding: 20;
}

.titled-pane .text{
    -fx-rotate: 90deg;
}

.titled-pane .title .arrow-button .arrow{
    -fx-opacity: 0;
}*/

#MenuButton{
    -fx-background-image: url("MenuButton.png");
    -fx-opacity: 50%;
    -fx-scale-shape: true;
}
#MenuButton:selected{
    /*-fx-rotate: 90deg;*/
    -fx-opacity: 100%;
}

#MenuButton:hover{
    -fx-opacity: 100%;
}


#WriteButton{
    -fx-background-image: url("WriteButton.png");
    -fx-opacity: 25%;
}
#WriteButton:hover{
    -fx-opacity: 100%;
}
#WriteButton:selected{
    -fx-background-image: url("WriteBtnSelected.png");
    -fx-opacity: 100%;
}


#NewButton{
    -fx-background-image: url("NewButton.png");
}
#NewButton:hover{
    -fx-background-image: url("NewButtonGlow.png");
}

#OpenButton{
    -fx-background-image: url("OpenButton.png");
}
#OpenButton:hover{
    -fx-background-image: url("OpenButtonGlow.png");
}

#SaveButton{
    -fx-background-image: url("SaveButton.png");
}
#SaveButton:hover{
    -fx-background-image: url("SaveButtonGlow.png");
}

#CloseButton{
    -fx-background-image: url("CloseButton.png");
}
#CloseButton:hover{
    -fx-background-image: url("CloseButtonGlow.png");
}

.tool-bar{
    -fx-background-color: black;
    -fx-background-radius: 25 0 0 0;
    -fx-border-color: black;
    -fx-border-radius: 25 0 0 0;
    -fx-border-width: 3;
}

#DrawingPane{
    -fx-background-color: white;
/*    -fx-border-color: black;
    -fx-border-width: 3 3 0 3;
    -fx-background-radius: 0 0 10 10;*/
}

#Page{
    -fx-background-color: white;
/*    -fx-opacity: 80%;*/
/*    -fx-background-radius: 10;*/
}

.tab-header-background{
    -fx-background-color: transparent;
}

.tab{
    -fx-background-color: gray;
}

.tab:selected{
    -fx-background-color: darkgray;
}

.tab:hover{
    -fx-background-color: lightgray;
}

#writeMenu{
/*    -fx-background-color: rgb(61, 61, 61);*/
    -fx-background-color: black;
    -fx-background-radius: 25;
    -fx-border-color: white;
    -fx-border-radius: 25;
    -fx-border-width: 2; 
}

.color-picker{
    -fx-background-radius: 25;
}

#highlighter{
    -fx-background-image: url("HighlightButton.png");
    -fx-opacity: 25%;
}
#highlighter:hover{
    -fx-opacity: 100%;
}
#highlighter:selected{
    -fx-opacity: 100%;
    -fx-background-image: url("HighlightButtonGlow.png");
}

#undo{
    -fx-background-image: url("UndoButton.png");
    -fx-opacity: 25%;
}
#undo:hover{
    -fx-opacity: 100%
}

#redo{
    -fx-background-image: url("UndoButton.png");
    -fx-opacity: 25%;
}
#redo:hover{
    -fx-opacity: 100%;
}

#chat{
    -fx-background-image: url("ChatButton.png");
    -fx-opacity: 25%;
}
#chat:hover{
    -fx-opacity: 100%;
}
#chat:selected{
    -fx-opacity: 100%;
}

#settings{
    -fx-background-image: url("SettingsButton.png");
    -fx-opacity: 25%;
}
#settings:hover{
    -fx-opacity: 100%;
}

#return{
    -fx-background-image: url("ReturnButton.png");
    -fx-opacity: 25%;
}
#return:hover{
    -fx-opacity: 100%;
}
