/* 
    Document   : test
    Created on : Nov 26, 2012, 3:14:32 AM
    Author     : davidecker
    Description:
        Stylesheet for skinning JavaFX GUI elements.
*/

root { 
    display: block;
}

.background{
    -fx-background-image: url("logoBG.png");
}

.mini-map-pane{
    -fx-background-color: black;
}

/*.titled-pane .title{
    -fx-padding: 20;
}

.titled-pane .text{
    -fx-rotate: 90deg;
}

.titled-pane .title .arrow-button .arrow{
    -fx-opacity: 0;
}*/

#MenuButton{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("MenuButton.png");
    -fx-opacity: 25%;
    -fx-background-position: center;
    -fx-scale-shape: true;
    -fx-background-radius: 25;
}
#MenuButton:selected{
    /*-fx-rotate: 90deg;*/
    -fx-opacity: 100%;
}

#MenuButton:hover{
    -fx-opacity: 100%;
}


#WriteButton{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("WriteButton.png");
    -fx-background-position: center;
    -fx-background-radius: 25;
    -fx-opacity: 25%;
}
#WriteButton:hover{
    
    -fx-opacity: 100%;
}
#WriteButton:selected{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("WriteBtnSelected.png");
    -fx-background-position: center;
    -fx-background-radius: 25;
    -fx-opacity: 100%;
}


#NewButton{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("NewButton.png");
    -fx-background-position: center;
}
#NewButton:hover{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("NewButtonGlow.png");
    -fx-background-position: center;
}

#OpenButton{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("OpenButton.png");
    -fx-background-position: center;
}
#OpenButton:hover{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("OpenButtonGlow.png");
    -fx-background-position: center;
}

#SaveButton{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("SaveButton.png");
    -fx-background-position: center;
}
#SaveButton:hover{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("SaveButtonGlow.png");
    -fx-background-position: center;
}

#CloseButton{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("CloseButton.png");
    -fx-background-position: center;
}
#CloseButton:hover{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("CloseButtonGlow.png");
    -fx-background-position: center;
}

.tool-bar{
    -fx-background-color: black;
    -fx-background-radius: 25 25 0 0;
    -fx-border-color: #303132 #303132 black #303132;
    -fx-border-radius: 25 25 0 0;
    -fx-border-width: 3;
}



